.headerLogo {
  width: 100px;
  padding-left: 25px;
  padding-top: 55px;
}

.toolbar {
  margin-top: -30px;
}

.header {
  background: none;
}

.footerTab {
  align-items: right;
  padding-right: 25px;
}

body {
  background: linear-gradient(#164969, #000000, #000000);
  height: 100vh;
}

.footer {
  background: none;
}

.indexLogo {
  max-width: 50vw;
}
